.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-primary{
background: #0d1b2a;
}
.btn-primary:hover {
  background: #e0e1dd;
  color: #1b2631;
}
.text-primary{
color: #0d1b2a !important;
}
.quantity-btn{
  background: #0d1b2a;
}
.admin-card-icon{
  color: #0d1b2a;
}
.quantity-btn:hover {
  background: #e0e1dd;
  color: #1b2631;
}
.btn-outline-primary{
    --bs-btn-color: #0d1b2a;
    --bs-btn-border-color: #0d1b2a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0d1b2a;
    --bs-btn-hover-border-color: #0d1b2a;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d1b2a;
    --bs-btn-active-border-color: #0d1b2a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d1b2a;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d1b2a;
    --bs-gradient: none;
}
/* Navbar */

.nav-head {
  color: #e0e1dd;
  display: flex;
}

.nav-logo {
  width: 15%;
  background: #0d1b2a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 0px 30px 30px 0px;
  margin-top: 20px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d1b2a;
  width: 50%;
  position: absolute;
  right: 0;
  padding: 10px 35px;
}

.nav-list img {
  width: 92px;
  height: 92px;
  position: absolute;
  left: -50px;
}

.nav-list li {
  list-style: none;
  margin: 0 10px;
}

/* banner */

.main-banner {
  width: 60%;
}

.banner-img {
  width: 40%;
  position: absolute;
  top: 120px;
  right: 0;
}

.banner-img img {
  width: 500px;
}

.discription-main {
  position: absolute;
  background: #0d1b2a;
  color: #e0e1dd;
  width: 50%;
  right: -20px;
}
.main-description{
  width: 100%;
  position: relative;
  height: 200px;
}
.main-card{
  height: 420px;
  position: relative;
}
.product-list-end{
  position: absolute;
  bottom: 20px;
}

.view-detail{
  margin-left: 10px;
}
.button-list{
  position: absolute;
  bottom: 20px;
}
.card-body-class{
  height: 220px;
}

